---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <title>White Coffee</title>
  </head>
  <body>
    <Header />

    <main>
      <h1>White Coffee</h1>
      <p>Drop by drop.</p>
    </main>

    <Footer />
  </body>
</html>
