---

---

<section class="hero">
  <picture>
    <source srcset="/awaken3.webp" media="(max-width: 600px)" />
    <img src="/awaken2.webp" alt="Awaken Shirt" class="hero-image" />
  </picture>

  <div class="hero-content">
    <h1>AWAKEN</h1>
    <p>A collection built around quiet choices.</p>
    <a href="/campaign" class="shop-button"> SHOP HERE </a>
  </div>
</section>

<style>
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-content {
    position: relative;
    z-index: 1;
    color: black;
    text-align: left;
    padding: 3rem;
    top: 30%;
    transform: translateY(-40%);
  }

  h1 {
    font-size: 7vw;
  }

  p {
    font-size: 2vw;
    font-style: normal;
    line-height: 30px;
    font-weight: 200;
  }

  .hero-content a {
    position: absolute;
    top: 100%;
  }

  .shop-button {
    background-color: rgba(255, 255, 255, 0.2); /* 60% hvid */

    border-radius: 5px;
    padding: 1.5rem 3rem;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  a.shop-button {
    border: 1px solid black;
  }

  .shop-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
  }

  @media (max-width: 600px) {
    .hero-content {
      text-align: center;
      top: 10%;
      padding: 1rem;
    }
    h1 {
      font-size: 3rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
    }

    .hero-content a {
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 700px;
    }
  }
</style>
