<footer class="footer">
  <div class="boring">
    <h4>SOCIALS:</h4>
    <a href="https://www.facebook.com/profile.php?id=61572898013180" target="_blank">FACEBOOK</a>
    <a href="https://www.instagram.com/whitecoffee.xyz/" target="_blank">INSTAGRAM</a>
    <a href="https://www.tiktok.com/@whitecoffee.xyz" target="_blank">TIKTOK</a>
  </div>
  <div class="boring">
    <h4>BORING STUFF:</h4>
    <a href="/development">PRIVACY</a>
    <a href="/development">REFUND</a>
    <a href="/development">SHIPPING</a>
    <a href="/development">TERMS</a>
  </div>
  <div>
    <h4>CONTACT:</h4>
    <p>WHITE88COFFEE@gmail.com</p>
    <p>CVR: 45578623</p>
    <p>WHITE COFFEE APS</p>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem;
    font-family: Helvetica, sans-serif;
    font-size: 0.83rem;
  }

  @supports (animation-timeline: view()) {
    footer {
      animation: fade-in linear;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: 400px;
    }
  }

  @keyframes fade-in {
    from {
      transform: translateY(200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .boring {
    margin-right: 50px;
  }

  .boring {
    display: flex;
    flex-direction: column;
  }

  .footer h4 {
    margin-bottom: 1rem;
    line-height: 65px;
  }

  .footer a {
    margin: 0.2rem 0;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 600;
    line-height: 35px;
  }

  .footer a:hover {
    color: black;
  }

  .footer p {
    margin: 0.2rem 0;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 600;
    line-height: 35px;
  }

  @media (max-width: 840px) {
    .footer {
      padding: 2rem;
    }
  }
</style>
