<footer class="footer">
  <div>
    <h4>SOCIALS:</h4>
    <p>FACEBOOK</p>
    <p>INSTAGRAM</p>
    <p>TIKTOK</p>
  </div>
  <div>
    <h4>BORING STUFF:</h4>
    <p>PRIVACY</p>
    <p>REFUND</p>
    <p>SHIPPING</p>
    <p>TERMS</p>
  </div>
  <div>
    <h4>CONTACT:</h4>
    <p>WHITE88COFFEE@gmail.com</p>
    <p>CVR: 45578623</p>
    <p>WHITE COFFEE APS</p>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    font-family: Helvetica, sans-serif;
    font-size: 0.83rem;
  }

  .footer h4 {
    margin-bottom: 1rem;
    line-height: 65px;
  }

  .footer p {
    margin: 0.2rem 0;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 600;
    line-height: 35px;
  }
</style>
