<div class="about-title">ABOUT</div>

<div class="image-row">
  <img src="/img/henrikogzoe.webp" alt="Image 1" />
  <img src="/img/henrik.webp" alt="Image 2" />
  <img src="/img/zoe.webp" alt="Image 3" />
  <img src="/img/celine.webp" alt="Image 4" />
</div>

<style>
  .about-title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
    padding-top: 100px;
    text-align: center;
  }
  .image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 0;
  }
  .image-row img {
    width: 250px;
    height: auto;
    margin: 10px;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
  }
  .h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
  }
</style>
